@import url('https://fonts.googleapis.com/css?family=VT323');

body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 300;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  background: #ffffff;
  background-image: url(https://images-na.ssl-images-amazon.com/images/I/81ruJx0-NlL._SL1200_.jpg);
}

#outerWrapper {
  margin: 0em auto;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  border:1px solid;
  display: block;
}

#wrapper {
  margin: 0 auto;
  margin-top:2em;
  padding: .5em;
  font-size: 1em;
  text-align: center;
  background: rgba(255, 255, 255, 1);
  border-radius: .2em;
  box-shadow: 0 .2em .4em 0 rgba(0, 0, 0, .5);
  width: 30em;
}

*:focus {
  outline: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  background: #ffffff;
  color: #666666;
  margin: .5em;
  font-weight: 500;
  font-size: .7em;
  padding: .5em;
  text-transform: uppercase;
  border-radius: .2em;
  opacity: .6;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

button:hover {
  background: crimson;
  color: #333333;
  opacity: 1;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.25), 0 6px 6px rgba(0, 0, 0, 0.22);
}

label {
  font-weight: 100;
}

#artist {
  display: inline;
  font-weight: 300;
}

#song {
  display: inline;
  font-weight: 300;
}

input {
  display: block;
  position: relative;
  margin: .5em auto;
  min-width: 30em;
  font-size: .5em;
  text-align: center;
}


/* SOUNDCLOUD STYLING */

#myCanvas {
  z-index: -1;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  image-rendering: crisp-edges;
  border-radius: .2em;
}


.labelSpacer {
  position: relative;
  margin-top: .25em;
  margin-bottom: .25em;
}
.about {
   position:relative;
   opacity:.5;
   text-align:center;
   padding: 1em;
   font-size: 1em;
   display:block;
   font-style: italic;
}
.about img {
  width:6em;
  height:auto;
  margin:.5em;
}

a {
  color:#000 !important;
}